{% set css %}
  {% include "styles/base.css" %}
{% endset %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>

<div id="content">
  {% block header %}
  <header>
    {% include 'layouts/header.njk' %}
  </header>
  {% endblock %}

  {% block nav %}
  <nav>
    {% include 'layouts/nav.njk' %}
  </nav>
  {% endblock %}

  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

  {% block footer %}
  <footer>
    {% include 'layouts/footer.njk' %}
  </footer>
  {% endblock %}
</div>

</body>
</html>
