---
layout: ptfa-base
---

<h1>{{ title }}</h1>

<div class="events-page-flex-container">
  <div class="events-main-content">
    <h2>Upcoming Events</h2>
    <div class="event-calendar">
      {% for event in collections.datedEvents %}
        <div class="event-listing">
          <h2><a href="{{ event.url }}">{{ event.data.title }}</a></h2>
          <p><strong>Date:</strong> {{ event.data.date | date("D MMMM YYYY") }}</p>
          <p>{{ event.data.summary }}...</p>
          <p><a href="{{ event.url }}">More details</a></p>
        </div>
      {% endfor %}
    </div>

{% if false and collections.futureEvents and collections.futureEvents.length > 0 %}
    <hr>

    <h2>Future Events</h2>
    <p>These are events which don't have a confirmed date yet. If you want to help organise any of these, <a href="/ptfa/get-involved">get in touch</a>.</p>
    <div class="event-calendar">
      {% for event in collections.futureEvents %}
        <div class="event-listing">
          <h2><a href="{{ event.url }}">{{ event.data.title }}</a></h2>
          <p>{{ event.data.season }}</p>
          <p>{{ event.data.summary }}</p>
        </div>
      {% endfor %}
    </div>
{% endif %}
  </div>

  <div class="sidebar-calendar-widget">
    <details class="mobile-collapsible-calendar" open>
      <summary><h3>Subscribe to the calendar</h3></summary>
      <div class="calendar-links">
        <p>Subscribe to the calendar feed to get all the events added to your phone or computer calendar automatically.</p>
        <a href="/ptfa/events/calendar.ics" class="calendar-button">
          <span>Subscribe to Calendar</span>
        </a>
      </div>
    </details>
  </div>
</div>
