---
layout: ptfa-base
title: Support the Warboys Academy PTFA
---

<h1>Support the Warboys Academy PTFA</h1>

<p>There are a few ways you can help support us, without much effort, during your day-to-day life.</p>

<div class="table-of-contents">
  <h3>On this page:</h3>
  <ul>
    <li><a href="#recycling">Recycling</a></li>
    <li><a href="#cashback">Cashback</a></li>
    <li><a href="#products">Products</a></li>
  </ul>
</div>

<h2 id="recycling">Recycling</h2>
<p>We have a clothing bank and an ink cartridge collection box at the school. These initiatives help us raise funds while also promoting recycling within our community.</p>
<div class="fundraising-panels">

{% fundraisingPanel 
  "clothing-bank-icon.svg", 
  "Clothing Bank", 
  "We have a clothing bank in the school carpark. **Please try to bring clothes in carrier-bag size bags (with the handles tied) rather than large bin liners.** The chute on the clothing bank can get clogged if bags which are too large are forced in.", 
  "Find out more", 
  null,
  null, null,
  ["Shoes (in pairs, please bag/tie them together)", "Adults & childrens clothes (clean and dry)", "Belts & handbags", "Towels, sheets & bedding", "Curtains"],
  ["Duvets", "Pillows", "Other bulky items"]
%}

{% fundraisingPanel 
  "ink-cartridge-icon.svg", 
  "Ink Cartridges", 
  "Next to the clothing bank there is a post with a black metal collection box for ink cartridges.", 
  "Check accepted list", 
  "https://www.recycle4charity.co.uk/InkjetCartridges",
  null, null,
  ["Original genuine cartridges", "Remanufactured/Refilled  catridges"],
  ["Toner cartridges"]
%}

</div>

<h2 id="cashback">Cashback</h2>
<p>You can support us simply by shopping online!</p>
<div class="fundraising-panels">

{% fundraisingPanel 
  "easyfundraising.svg", 
  "EasyFundraising", 
  "When shopping online on 7,000+ websites, going to those sites via EasyFundraising provides us with some cashback. It doesn't cost you any more for the products. Some of the brands/shops include:\n\n* Amazon\n* Argos\n* Ebay\n* John Lewis\n* Tesco\n* M&S\n* Currys\n* Apple", 
  "Shop now", 
  "https://www.easyfundraising.org.uk/causes/warboyspta/",
  null, null,
  null,
  null,
  "no-circle-logo"
%}

</div>

<h2 id="products">Products</h2>
<p>When you purchase certain products through our special links, the PTFA receives a small commission. This is another effortless way to contribute to our fundraising efforts without affecting the price you pay.</p>
<div class="fundraising-panels">

{% fundraisingPanel 
  "stamptastic.png", 
  "Stamptastic", 
  "Stamptastic offers custom ink stamps for all occations. These are particularly useful for use on clothing which has a label, or temporarily to other items. Offer: By following our link you should get a £5 discount on their 'Name Labels Deluxe Bundle'.", 
  "Get your stamp", 
  "https://stamptastic.co.uk/pages/school-welcome#a_aid=5ce432fe8ee82",
  null, null,
  null,
  null,
  "no-circle-logo"
%}

{% fundraisingPanel 
  "mynametags.svg", 
  "My Nametags", 
  "My Nametags offer flexible adhesive labels which work great in shoes, on bags, and even on clothes. They're available in a large variety of colours, sizes, and shapes.", 
  "Order nametags", 
  "https://www.mynametags.com/affiliate?id=29704",
  "29704", "To support us, make sure our School ID is entered at checkout:",
  null,
  null,
  "no-circle-logo"
%}

</div>
